@use 'common'
@use 'animations'

#pet-profile
  .pet-bio
    display: grid
    grid-template-columns: 200px 3fr 200px
    grid-gap: 10px
    .pet-image
      grid-column: 1
      border-radius: 10px 0 0 10px
      justify-self: auto
      width: 100%
      height: 100%
      background-size: cover
      background-position: center
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3)

    #owner-info
      grid-column: 3
      position: relative
      .img
        border-radius: 10px
        width: 100%
        height: 100%
        background-size: cover
        background-position: center
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3)
      p
        padding: 5px
        border-radius: 5px
        background-color: common.$dark-color
        position: absolute
        bottom: 8px
        left: 8px
        color: white
    #owner-info:hover
      @include animations.animation("scale05 0.2s forwards")
    .pet-info
      height: 100%
      margin-left: -10px
      display: grid
      background-color: common.$dark-color
      color: white
      border-radius: 0 10px 10px 0
      grid-template-columns: auto 20% 20%
      grid-template-areas: "description" "details" "name"
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3)
      #title
        grid-area: name
        padding: 1em
        span, h2
          display: inline-block
          margin-right: 1em
        h2
          font-size: 150%
        span
          border: 2px solid red
          border-radius: 10px
          padding: 0 10px
      #pet-details
        grid-area: details
        grid-column: 1 / 4
        padding: 1em
      #pet-details>*
        margin-right: 40px
      p
        grid-column: 1 / 4
        padding: 1em
      #edit-pet-button
        padding: 5%
        grid-column: 3
        grid-row: 3
        background-color: common.$dark-light-color
        color: white
        margin: 1em
        font-weight: bold
      #delete-pet-button
        @extend #edit-pet-button
        grid-column: 2
        grid-row: 3

  #options
    margin-top: 1em
    padding: 1em
    background-color: common.$dark-light-color
    border-radius: 10px
    color: white
    .buttons
      text-align: center
      button
        display: inline-block
        margin-right: 10px
        margin-top: 10px
        width: 30%
  #proposals
    margin-top: 1em
    padding: 1em
    background-color: common.$dark-light-color
    color: white
    border-radius: 10px
    h2
      margin-bottom: 1em
    .grid-list
      display: flex
      flex-wrap: wrap
      justify-content: center
      .adoption-proposal
        justify-self: center
        padding: 1em
        max-width: 30em
        margin: 1em
        background-color: common.$background-color
        border-radius: 10px
        border: 2px solid common.$dark-color
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3)
        display: grid
        color: black
        grid-template-columns: 40% 60%
        grid-template-rows: 2fr 0.5fr
        grid-column-gap: 1em
        a
          border-radius: 10px
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3)
          &:hover
            @include animations.animation("scale05 0.2s forwards")
          .img
            border-radius: 10px 10px 0 0
            width: 100%
            background-size: cover
            background-position: center
            grid-row: 1
            min-height: 10em
            grid-column: 1
          h3
            text-align: center
            margin: 0
            padding: 10px
            border-radius: 0 0 10px 10px
            background-color: common.$dark-light-color
            color: white
            grid-row: 2
            grid-column: 1
        .user-details
          color: black
          margin-right: 15px
          margin-bottom: 0
          height: auto
          grid-row: 1 / 2
          grid-column: 2
          display: grid
          grid-template-rows: 1fr 0.5fr
          .button
            font-size: 1.2rem
            align-self: flex-end
            color: white
            font-weight: bold
            background-color: common.$dark-color
          small
            text-align: right
        #proposal_states
          grid-row: 2
          grid-column: 1 / 3
          margin-right: 10px
          align-self: center
          text-align: center
          #waiting_state
            color: white
            padding: 5px
            border-radius: 5px
            background-color: common.$yellow
          #accepted_state
            @extend #waiting_state
            background-color: common.$green
          #denied_state
            @extend #waiting_state
            background-color: common.$red
        .proposal-options
          grid-column: 1 / 3
          display: flex
          margin: 10px 1em -1em 0
          button
            width: 100%
          button:nth-child(1)
            background-color: common.$green
          button:nth-child(2)
            background-color: common.$red

  #pet-comments, #make_proposal
    margin-top: 1em
    padding: 1em
    background-color: common.$dark-light-color
    border-radius: 10px
    color: white
    h2
      margin-bottom: 1em
    .pet-comment
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3)
      background-color: common.$background-color
      border: 2px solid common.$dark-color
      margin-bottom: 1em
      border-radius: 10px
      color: black
      display: grid
      grid-template-columns: 1.3fr 8fr 2fr
      grid-template-rows: 1fr 1.5fr 0.2fr
      grid-column-gap: 1em
      p
        grid-column: 2 / 4
        grid-row: 2
        font-style: italic
        padding-right: 1em
        padding-top: 1em
        padding-bottom: 1em
      .user a
        border-bottom: 1px solid black
        color: black
        font-size: x-large
      .date
        justify-self: right
        margin-right: 1em
        align-self: center
      .user
        margin-top: 10px
      .user-image
        grid-column: 1
        grid-row: 1 / 4
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        justify-self: center
        align-self: center
        width: 100%
        height: 100%
        border-radius: 10px 0 0 10px
      .reply-button
        grid-column: 3
        padding: 1em
        background-color: common.$dark-color
        color: white
        font-weight: bold
    .pet-answer
      @extend .pet-comment
      margin-left: 5em
    #overlay
      background-color: common.$dark-light-color
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3)
      visibility: hidden
      position: fixed
      top: 50%
      left: 20%
      margin-top: -50px
      margin-left: -100px
      width: 75%
      z-index: 1000
      border-radius: 10px
      float: top
      form
        background-color: common.$dark-light-color
        margin-top: 0
        textarea
          background-color: common.$background-color
          color: black
  form
    margin-top: 1em
    padding: 1em
    background-color: common.$dark-light-color
    border-radius: 10px
    label
      color: white
      margin-bottom: 1em
      font-size: x-large
      font-weight: bold
    textarea
      margin-top: 10px
      margin-bottom: 10px
      min-width: 97%
      border-radius: 10px
      min-height: 5em
      resize: vertical
      outline: none
      font-size: large
      color: black
      overflow: auto
      background-color: common.$background-color
      padding: 1em
  .button
    background-color: black

@media (max-width: 55em)
  body
    #pet-profile
      .pet-bio
        display: block
        .pet-image
          height: 200px
          display: flex
          width: auto
          border-radius: 10px
          margin: 5px
        .pet-info
          padding: 10px
          margin: 10px
          border-radius: 10px
          display: block
          #pet-details>*
            margin-right: 20px
          #edit-pet-button
            width: 20%
          #delete-pet-button
            width: 30%
        #owner-info
          display: block
          .img
            display: none
          p
            border-radius: 10px
            margin: 10px 18px 0 2px
            position: relative
          a
            position: relative
      #proposals
        .grid-list
          display: flex
          .adoption-proposal
            justify-self: center
            max-width: 250px
            display: block
      #pet-comments
        display: block
        .pet-comment
          display: block
          padding: 5px
          a
            margin-right: 10px
        .user-image
          display: none
      form
        textarea
          min-width: 90%
    #options
      .buttons
        button
          padding: 2px

