@use 'common'
@use 'animations'

#pet-profile
  .pet-bio
    display: grid
    grid-template-columns: 200px 3fr 200px
    grid-gap: 10px
    .pet-image
      grid-column: 1
      border-radius: 10px 0 0 10px
      justify-self: auto
      width: 100%
      height: 100%
      background-size: cover
      background-position: center
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3)

    #owner-info
      grid-column: 3
      position: relative
      .img
        border-radius: 10px
        width: 100%
        height: 100%
        background-size: cover
        background-position: center
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3)
      p
        padding: 5px
        border-radius: 5px
        background-color: common.$accent-color
        position: absolute
        bottom: 8px
        left: 8px
        color: white
    #owner-info:hover
      @include animations.animation("scale05 0.2s forwards")
    .pet-info
      grid-column: 2
      height: 100%
      margin-left: -10px
      display: grid
      background-color: common.$accent-color
      color: white
      border-radius: 0 10px 10px 0
      grid-template-rows: auto auto auto
      grid-template-areas: "description" "details" "name"
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3)
      #title
        grid-area: name
        padding: 1em
        span, h2
          display: inline-block
          margin-right: 1em
        h2
          font-size: 150%
        span
          background-color: red
          border-radius: 20px
          padding: 0 10px
      #pet-details
        grid-area: details
        padding: 1em
      #pet-details>*
        margin-right: 40px
      p
        grid-area: description
        padding: 1em

  #options
    margin-top: 1em
    padding: 1em
    background-color: common.$main-color
    border-radius: 10px
    .buttons
      text-align: center
      button
        display: inline-block
        margin-right: 10px
        margin-top: 10px
        width: 30%

  #proposals
    margin-top: 1em
    padding: 1em
    background-color: common.$main-color
    border-radius: 10px
    h2
      margin-bottom: 1em
    .grid-list
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 1em
      .adoption-proposal
        padding: 1em
        background-color: common.$accent-color
        border-radius: 10px
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3)
        display: grid
        grid-template-columns: 40% 60%
        grid-template-rows: 4fr 1fr
        grid-column-gap: 1em
        .img
          border-radius: 10px 10px 0 0
          width: 100%
          background-size: cover
          background-position: center
          grid-row: 1
          grid-column: 1
        h3
          text-align: center
          margin: 0
          padding: 10px
          border-radius: 0 0 10px 10px
          background-color: common.$main-color
          color: black
          grid-row: 2
          grid-column: 1
        .user-details
          color: white
          margin-right: 15px
          margin-bottom: 0
          height: auto
          grid-row: 1 / 3
          grid-column: 2
          display: grid
          grid-template-rows: 2fr 1fr 2fr
          .button
            font-size: 1.2rem
            align-self: flex-end
            color: black
            font-weight: bold
            background-color: common.$main-color
          small
            text-align: right
  #pet-comments, #make_proposal
    margin-top: 1em
    padding: 1em
    background-color: common.$main-color
    border-radius: 10px
    h2
      margin-bottom: 1em
    .pet-comment
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3)
      background-color: common.$accent-color
      margin-bottom: 1em
      border-radius: 10px
      color: white
      display: grid
      grid-template-columns: 1.3fr 8fr 2fr
      grid-template-rows: 1fr 1.5fr 0.2fr
      grid-column-gap: 1em
      p
        grid-column: 2 / 4
        grid-row: 2
        font-style: italic
        padding-right: 1em
        padding-top: 1em
        padding-bottom: 1em
      .user a
        border-bottom: 1px solid white
        color: white
        font-size: x-large
      .date
        justify-self: right
        margin-right: 1em
        align-self: center
      .user
        margin-top: 10px
      .user-image
        grid-column: 1
        grid-row: 1 / 4
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        justify-self: center
        align-self: center
        width: 100%
        height: 100%
        border-radius: 10px 0 0 10px
        &:hover
          @include animations.animation("scale05 0.2s forwards")
      .reply-button
        grid-column: 3
        padding: 1em
        background-color: common.$main-color
        color: black
        font-weight: bold
    .pet-answer
      @extend .pet-comment
      margin-left: 5em
    #overlay
      background-color: common.$main-color
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3)
      visibility: hidden
      position: fixed
      top: 50%
      left: 20%
      margin-top: -50px
      margin-left: -100px
      width: 75%
      z-index: 1000
      border-radius: 10px
      float: top
      form
        margin-top: 0

    form
      margin-top: 1em
      padding: 1em
      background-color: common.$accent-color
      border-radius: 10px
      label
        color: white
        margin-bottom: 1em
        font-size: x-large
        font-weight: bold
      textarea
        margin-top: 10px
        margin-bottom: 10px
        min-width: 97%
        border-radius: 10px
        min-height: 5em
        resize: vertical
        outline: none
        font-size: large
        color: black
        overflow: auto
        background-color: common.$main-color
        padding: 1em
      .button
        background-color: black