@use 'common'
@use 'animations'

body
  height: auto

  a
    color: white
    text-decoration: none

  .banner
    position: relative
    margin: 0 auto
    background-repeat: no-repeat
    background-size: cover
    background-position-y: -200px
    width: 100%
    height: 15vw

    a
      font-size: 250%
      color: white
      position: absolute
      bottom: 0
      right: 0
      margin-right: 30px
      margin-bottom: 10px
      text-shadow: 5px 3px 5px #000000

  .shelter_profile
    display: flex

    .title
      padding: 18px 0px 0px 25px
      font-size: 25px
      font-weight: bold
      color: white

    img
      width: 8vw
      border-radius: 15px
      float: left
      margin-right: 10px

    .left
      margin-top: 10px
      margin-bottom: 27px
      width: 65%
      display: grid
      grid-template-columns: 30% 23% 23% 23%
      grid-auto-rows: fit-content(0%)
      grid-template-areas: "profile about location contact" "adopt adopt adopt adopt"

      .profile_pic
        grid-area: profile
        position: relative
        width: 80%
        height: 145%
        left: 25px
        bottom: 10vh
        z-index: 1
        border-radius: 15px
        background-size: cover
        background-position: center

      #about_me, #location, #contact
        display: flex
        border-radius: 15px
        background-color: grey
        margin: 8% 12%
        justify-content: center

        a
          padding: 10%
          font-size: 1.5vw
          i
            display: flex
            font-size: 3.5vw
            justify-content: center

      #about_me
        grid-area: about

      #location
        grid-area: location

      #contact
        grid-area: contact

      #about_me:hover, #location:hover, #contact:hover
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
        cursor: pointer
        @include animations.animation("scale05 0.2s forwards")

      .container-dog
        padding: 0
        width: 28vw
        text-align: justify

      .shelter_adoption
        grid-area: adopt
        border-radius: 15px
        background-color: grey
        margin: 3% 3%

        .adoption-card
          display: flex
          padding: 15px
          background-color: #363636
          border-radius: 15px
          width: 90%
          margin: 15px auto

          .container-dog
            padding: 0
            width: 54vw
            text-align: justify

        .adoption-card:hover
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
          cursor: pointer
          @include animations.animation("scale05 0.2s forwards")

    .right
      margin-top: 10px
      margin-bottom: 27px
      width: 35%
      display: grid
      grid-template-columns: 1fr
      grid-auto-rows: fit-content(0%)

      .shelter_adopted
        border-radius: 15px
        background-color: grey
        margin: 3.5% 3% 4% 3%

        .adopted-card
          display: flex
          padding: 15px
          background-color: #363636
          border-radius: 15px
          width: 85%
          margin: 15px auto

          .container-dog
            width: 27vw
            text-align: justify

        .adopted-card:hover
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
          cursor: pointer
          @include animations.animation("scale05 0.2s forwards")