@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes scale05 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@-moz-keyframes scale05 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@-ms-keyframes scale05 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes scale05 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@-webkit-keyframes inputHighlighter {
  0% {
    background: #5264AE;
  }
  100% {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  0% {
    background: #5264AE;
  }
  100% {
    width: 0;
    background: transparent;
  }
}
@-ms-keyframes inputHighlighter {
  0% {
    background: #5264AE;
  }
  100% {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  0% {
    background: #5264AE;
  }
  100% {
    width: 0;
    background: transparent;
  }
}
@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-moz-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-ms-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-moz-keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-ms-keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

html, body {
  background-color: #F2F7F8;
  height: 100%;
  position: relative;
  min-height: 100%;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
html ::-webkit-scrollbar, body ::-webkit-scrollbar {
  width: 10px;
}
html ::-webkit-scrollbar-track, body ::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #934B00;
}
html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #F1A66A;
}
html ::-webkit-scrollbar-thumb:hover, body ::-webkit-scrollbar-thumb:hover {
  background: white;
}

.header {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 10em 3em 2.5em;
}
.header a {
  justify-self: center;
  align-self: center;
  color: white;
  grid-column: 1/6;
  grid-row: 1;
}
.header h1 {
  text-align: center;
  font-size: 450%;
  letter-spacing: 10px;
}
.header h2 {
  grid-column: 1/6;
  grid-row: 2;
  text-align: center;
  font-size: 200%;
}
.header #links, .header #signup {
  justify-self: center;
  grid-row: 3;
  grid-column: 1/3;
  float: left;
}
.header #links a, .header #signup a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  margin-right: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin-bottom: 1em;
}
.header #signup {
  grid-row: 3;
  grid-column: 3/5;
  margin-right: 20px;
}

.footer {
  flex-shrink: 0;
  background-color: #36393B;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 3px 0;
}
.footer p:first-child {
  margin-left: 20px;
  float: left;
}
.footer p:last-child {
  margin-right: 20px;
  float: right;
}

.button, body #pet_add #right form label:nth-of-type(8), body #pet_edit #right form label:nth-of-type(8), body #pet_add #right form label:nth-of-type(9), body #pet_edit #right form label:nth-of-type(9), body .user_profile .left .edit_user_info form #photos label:nth-of-type(1), body .user_profile .left .edit_user_info form #photos label:nth-of-type(2), body .shelter_profile .edit_shelter_info form #photos label:nth-of-type(1), body .shelter_profile .edit_shelter_info form #photos label:nth-of-type(2), #register form #photos label:nth-of-type(1), #register form #photos label:nth-of-type(2), button {
  background-color: #36393B;
  border: none;
  color: white;
  margin: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button:hover, body #pet_add #right form label:hover:nth-of-type(8), body #pet_edit #right form label:hover:nth-of-type(8), body #pet_add #right form label:hover:nth-of-type(9), body #pet_edit #right form label:hover:nth-of-type(9), body .user_profile .left .edit_user_info form #photos label:hover:nth-of-type(1), body .user_profile .left .edit_user_info form #photos label:hover:nth-of-type(2), body .shelter_profile .edit_shelter_info form #photos label:hover:nth-of-type(1), body .shelter_profile .edit_shelter_info form #photos label:hover:nth-of-type(2), #register form #photos label:hover:nth-of-type(1), #register form #photos label:hover:nth-of-type(2), button:hover {
  -webkit-animation: scale05 0.2s forwards;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navigation_bar {
  background-color: #36393B;
  width: 100%;
}
.navigation_bar a {
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  float: left;
}
.navigation_bar #links, .navigation_bar #signup {
  padding: 10px;
  position: relative;
  float: left;
}
.navigation_bar #links a, .navigation_bar #signup a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  margin-right: 20px;
  border-bottom: 1px solid white;
  padding: 0;
  margin-bottom: 0;
}
.navigation_bar #signup {
  padding: 10px;
  float: right;
}
.navigation_bar #signup a {
  padding: 0;
  margin-bottom: 0;
}

.group {
  position: relative;
  margin-bottom: 45px;
}
.group input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 80%;
  border: none;
  border-bottom: 1px solid #934B00;
  color: white;
  margin: 0;
}
.group input:focus {
  outline: none;
}
.group input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
}
.group label {
  color: white;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.group input:focus ~ label, .group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #934B00;
}
.group .bar {
  position: relative;
  display: block;
  width: 83%;
}
.group .bar:before {
  left: 50%;
}
.group .bar:after {
  right: 50%;
}
.group .bar:before, .group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #934B00;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
  width: 50%;
}
.group .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.page-content {
  padding: 2em;
}

.hamburger #myLinks {
  display: none;
  border-radius: 10px;
}
.hamburger #myLinks a {
  display: none;
  margin: 2px;
  background-color: #F1A66A;
  right: 0;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation: rotateX 300ms ease-in-out forwards;
}
.hamburger a {
  display: none;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}
.hamburger a.icon {
  background: none;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
.hamburger a:hover {
  color: white;
}

.hamburger_navbar {
  background-color: #F1A66A;
}
.hamburger_navbar #myLinks {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
}
.hamburger_navbar #myLinks a {
  width: 10em;
  display: block;
  margin: 2px;
  background-color: #F1A66A;
  right: 0;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation: rotateX 300ms ease-in-out forwards;
}
.hamburger_navbar a {
  display: none;
  background-color: #F1A66A;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}
.hamburger_navbar a.icon_navbar {
  background: none;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.hamburger_navbar a:hover {
  -webkit-animation: fadeIn 0.5s ease;
  background-color: #F1A66A;
}

@media (max-width: 60em) {
  .header h1 {
    font-size: 350%;
  }
  .header h2 {
    font-size: 180%;
  }
  .header #links, .header #signup {
    display: none;
  }

  .navigation_bar #links, .navigation_bar #signup {
    display: none;
  }

  .hamburger #myLinks a, .hamburger_navbar #myLinks a {
    display: block;
  }
  .hamburger a.icon, .hamburger_navbar a.icon {
    background: none;
    display: block;
    position: absolute;
    left: 0;
    top: 200px;
  }
  .hamburger a, .hamburger_navbar a {
    display: block;
  }
  .hamburger a.icon_navbar, .hamburger_navbar a.icon_navbar {
    background: none;
    display: block;
    position: absolute;
    right: 0;
  }
}
@media (max-width: 30em) {
  .header {
    height: 140px;
    display: block;
    grid-template-rows: 6em 2em 1.5em;
  }
  .header h1 {
    font-size: 250%;
  }
  .header h2 {
    font-size: 100%;
  }
  .header #links, .header #signup {
    display: none;
  }

  .hamburger #myLinks a, .hamburger_navbar #myLinks a {
    display: block;
  }
  .hamburger a.icon, .hamburger_navbar a.icon {
    background: none;
    display: block;
    position: absolute;
    left: 0;
    top: 95px;
  }
  .hamburger a, .hamburger_navbar a {
    display: block;
  }
  .hamburger a.icon_navbar, .hamburger_navbar a.icon_navbar {
    background: none;
    display: block;
    position: absolute;
    right: 0;
  }
}
body {
  display: flex;
  flex-direction: column;
}
body #homepage-cards {
  margin: 5em auto;
  width: 85%;
  max-width: 1024px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
body #homepage-cards * {
  text-decoration: none;
}
body .card {
  margin: 0 auto;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #585D5F;
}
body .card a {
  position: relative;
  color: white;
}
body .card .image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}
body .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation: scale05 0.2s forwards;
}
body .container {
  padding: 10px 10px;
}
body .container p {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}
body .card-title {
  padding: 10px 10px 10px 15px;
  background-color: #36393B;
  font-size: large;
  font-weight: bold;
  color: white;
  border-radius: 5px 5px 0 0;
}
body #shuffle-button {
  display: flex;
  justify-content: center;
  margin: 2em auto;
}

@media (max-width: 60em) {
  body .content #homepage-cards {
    height: 100%;
    display: block;
  }
  body .content #homepage-cards .card {
    margin: 2em auto;
  }
  body .content #homepage-cards .card a {
    margin: 1em auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 20vw auto;
    grid-auto-rows: auto 35px;
  }
  body .content #homepage-cards .card a .card-title {
    grid-column: 2;
    grid-row: 2;
    margin-left: 35%;
    border-radius: 10px 0 0 0;
    padding: 5px 0 0 15px;
  }
  body .content #homepage-cards .card a .image {
    grid-column: 1;
    grid-row: 1/3;
    margin-right: 1em;
    border-radius: 10px 0 0 10px;
    background-size: cover;
    background-position: center;
    width: 20vw;
    height: 20vw;
  }
}
@media (max-width: 30em) {
  body .content #homepage-cards {
    height: 90%;
    display: block;
  }
  body .content #homepage-cards .card {
    margin: 2em auto;
  }
  body .content #homepage-cards .card a {
    margin: 1em auto;
    display: block;
  }
  body .content #homepage-cards .card a .card-title {
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 10px;
  }
  body .content #homepage-cards .card a .image {
    border-radius: 0;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 270px;
  }
}
#login h2, #register h2 {
  background-color: #934B00;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 150%;
  color: white;
}
#login form, #register form {
  width: 30em;
  background-color: #F1A66A;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s;
  color: white;
  margin: 2em auto;
  padding: 2em;
}
#login input[type=submit], #register input[type=submit] {
  width: auto;
  background-color: #934B00;
  color: white;
  border: none;
  margin: 1em 1em 1em auto;
}

#register form {
  display: grid;
  margin: 30px auto 50px;
  grid-template-rows: 0.6fr 0.6fr 0.6fr 0.5fr;
  grid-template-columns: 50% 50%;
}
#register form .group:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1;
}
#register form .group:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}
#register form #photos {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-self: right;
  margin-right: 1em;
}
#register form #photos label:nth-of-type(1), #register form #photos label:nth-of-type(2) {
  padding: 1em;
  margin-left: 10px;
  display: flex;
  height: 20px;
}
#register form #photos label:nth-of-type(1) input, #register form #photos label:nth-of-type(2) input {
  display: none;
}
#register form #photos label:nth-of-type(1) span, #register form #photos label:nth-of-type(2) span {
  margin-right: 0.2em;
}
#register form #shelter-user-option {
  grid-column: 1;
  grid-row: 4;
}
#register form #shelter-user-option label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-left: 1em;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#register form #shelter-user-option label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#register form #shelter-user-option label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
#register form #shelter-user-option label:hover input ~ .checkmark {
  background-color: #ccc;
}
#register form #shelter-user-option label input:checked ~ .checkmark {
  background-color: #934B00;
}
#register form #shelter-user-option label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#register form #shelter-user-option label input:checked ~ .checkmark:after {
  display: block;
}
#register form #shelter-user-option label .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
#register form input {
  grid-column: 2;
  grid-row: 4;
}

.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0 auto;
}
.search form {
  display: grid;
  height: 12em;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.search form #search-wrap {
  width: 100%;
  grid-row: 1;
  grid-column: 3/6;
}
.search form #search-wrap #search {
  width: 100%;
  position: relative;
  display: flex;
}
.search form #search-wrap #search input {
  width: 100%;
  background-color: white;
  border-right: none;
  padding: 0 1em;
  height: 36px;
  border-radius: 5px;
  outline: none;
  color: #934B00;
}
.search form #search-wrap #search button {
  margin: 0;
  padding: 0 20px;
}
.search form select[name=category] {
  grid-row: 2;
  grid-column: 2;
}
.search form select[name=gender] {
  grid-row: 2;
  grid-column: 3;
}
.search form select[name=color] {
  grid-row: 2;
  grid-column: 4;
}
.search form select[name=age] {
  grid-row: 2;
  grid-column: 5;
}
.search form label {
  grid-row: 2;
  grid-column: 6;
}
.search form select {
  width: 80%;
  margin: 0 auto;
  border: 3px solid #934B00;
  padding: 1em;
  background-color: #934B00;
  border-radius: 7px;
  color: white;
}
.search form label {
  width: 65%;
  margin: 0 auto;
  padding: 1em;
  background-color: #934B00;
  border-radius: 7px;
  color: white;
}
.search form #favorites {
  opacity: 0;
  width: 0;
  height: 0;
}

.pets-list, .shelters-list {
  padding: 1em;
  width: 80%;
  margin: 0 auto;
}
.pets-list hr, .shelters-list hr {
  margin: 0 auto;
  width: 80%;
}
.pets-list .pet-card, .shelters-list .pet-card, .pets-list .shelter-card, .shelters-list .shelter-card {
  padding: 1em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 1em;
  grid-template-rows: 1fr;
  grid-template-areas: "image info links";
  -webkit-animation: fadeIn  2s forwards;
}
.pets-list .pet-card .pet-image, .shelters-list .pet-card .pet-image, .pets-list .shelter-card .pet-image, .shelters-list .shelter-card .pet-image, .pets-list .pet-card .shelter-image, .shelters-list .pet-card .shelter-image, .pets-list .shelter-card .shelter-image, .shelters-list .shelter-card .shelter-image {
  grid-area: image;
  border-radius: 10px;
  justify-self: auto;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.pets-list .pet-card .pet-image:hover, .shelters-list .pet-card .pet-image:hover, .pets-list .shelter-card .pet-image:hover, .shelters-list .shelter-card .pet-image:hover, .pets-list .pet-card .shelter-image:hover, .shelters-list .pet-card .shelter-image:hover, .pets-list .shelter-card .shelter-image:hover, .shelters-list .shelter-card .shelter-image:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}
.pets-list .pet-card .pet-information, .shelters-list .pet-card .pet-information, .pets-list .shelter-card .pet-information, .shelters-list .shelter-card .pet-information {
  grid-area: info;
}
.pets-list .pet-card .pet-information h1, .shelters-list .pet-card .pet-information h1, .pets-list .shelter-card .pet-information h1, .shelters-list .shelter-card .pet-information h1 {
  font-size: 250%;
}
.pets-list .pet-card .pet-information .pet-details > *, .shelters-list .pet-card .pet-information .pet-details > *, .pets-list .shelter-card .pet-information .pet-details > *, .shelters-list .shelter-card .pet-information .pet-details > * {
  margin-right: 40px;
}
.pets-list .pet-card .pet-information .pet-proposals, .shelters-list .pet-card .pet-information .pet-proposals, .pets-list .shelter-card .pet-information .pet-proposals, .shelters-list .shelter-card .pet-information .pet-proposals {
  margin-top: 3em;
  font-size: 1.2rem;
}
.pets-list .pet-card .pet-links, .shelters-list .pet-card .pet-links, .pets-list .shelter-card .pet-links, .shelters-list .shelter-card .pet-links, .pets-list .pet-card .shelter-link, .shelters-list .pet-card .shelter-link, .pets-list .shelter-card .shelter-link, .shelters-list .shelter-card .shelter-link {
  grid-area: links;
  grid-template-rows: repeat(3, 1fr);
  display: grid;
  text-align: center;
  margin: auto;
}

body {
  height: auto;
}
body a {
  color: white;
  text-decoration: none;
}
body .banner {
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 15vw;
}
body .banner a {
  font-size: 250%;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 10px;
  text-shadow: 5px 3px 5px #000000;
}
body .shelter_profile {
  display: flex;
}
body .shelter_profile .title {
  padding: 10px 0px 0px 15px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
body .shelter_profile .title i {
  font-size: 110%;
  padding-right: 10px;
}
body .shelter_profile img {
  width: 8vw;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}
body .shelter_profile .left {
  margin-top: 10px;
  margin-bottom: 27px;
  width: 65%;
  display: grid;
  grid-template-columns: 30% 23% 23% 23%;
  grid-auto-rows: fit-content(0%);
  grid-template-areas: "profile about location contact" "adopt adopt adopt adopt";
}
body .shelter_profile .left .profile_pic {
  grid-area: profile;
  position: relative;
  width: 80%;
  height: 135%;
  left: 10%;
  bottom: 45%;
  z-index: 1;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
body .shelter_profile .left #about_me, body .shelter_profile .left #location, body .shelter_profile .left #contact {
  display: flex;
  border-radius: 10px;
  background-color: #934B00;
  margin: 8% 12%;
  justify-content: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
body .shelter_profile .left #about_me a, body .shelter_profile .left #about_me label, body .shelter_profile .left #location a, body .shelter_profile .left #location label, body .shelter_profile .left #contact a, body .shelter_profile .left #contact label {
  color: white;
  padding: 10%;
  font-size: 1.5vw;
}
body .shelter_profile .left #about_me a i, body .shelter_profile .left #about_me label i, body .shelter_profile .left #location a i, body .shelter_profile .left #location label i, body .shelter_profile .left #contact a i, body .shelter_profile .left #contact label i {
  display: flex;
  font-size: 3.5vw;
  justify-content: center;
}
body .shelter_profile .left #about_me a input, body .shelter_profile .left #about_me label input, body .shelter_profile .left #location a input, body .shelter_profile .left #location label input, body .shelter_profile .left #contact a input, body .shelter_profile .left #contact label input {
  display: none;
}
body .shelter_profile .left #about_me a:hover, body .shelter_profile .left #about_me label:hover, body .shelter_profile .left #location a:hover, body .shelter_profile .left #location label:hover, body .shelter_profile .left #contact a:hover, body .shelter_profile .left #contact label:hover {
  cursor: pointer;
}
body .shelter_profile .left #about_me {
  grid-area: about;
}
body .shelter_profile .left #location {
  grid-area: location;
}
body .shelter_profile .left #contact {
  grid-area: contact;
}
body .shelter_profile .left #about_me:hover, body .shelter_profile .left #location:hover, body .shelter_profile .left #contact:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-animation: scale05 0.2s forwards;
}
body .shelter_profile .left .container-pet {
  padding: 0;
  width: 28vw;
  text-align: justify;
}
body .shelter_profile .left .shelter_adoption, body .shelter_profile .left .edit_shelter_info {
  grid-area: adopt;
  border-radius: 10px;
  background-color: #F1A66A;
  margin: 3% 3%;
}
body .shelter_profile .left .shelter_adoption .adoption-card, body .shelter_profile .left .edit_shelter_info .adoption-card {
  display: flex;
  padding: 8px;
  background-color: #934B00;
  border-radius: 10px;
  width: fit-content;
  margin: 15px auto;
}
body .shelter_profile .left .shelter_adoption .adoption-card a, body .shelter_profile .left .edit_shelter_info .adoption-card a {
  width: fit-content;
}
body .shelter_profile .left .shelter_adoption .adoption-card a .pet-img, body .shelter_profile .left .edit_shelter_info .adoption-card a .pet-img {
  float: left;
  margin-right: 10px;
  border-radius: 10px;
  width: 7em;
  height: 7em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .shelter_profile .left .shelter_adoption .adoption-card a .container-pet, body .shelter_profile .left .edit_shelter_info .adoption-card a .container-pet {
  padding: 0;
  width: 54vw;
  text-align: justify;
}
body .shelter_profile .left .shelter_adoption .adoption-card:hover, body .shelter_profile .left .edit_shelter_info .adoption-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-animation: scale05 0.2s forwards;
}
body .shelter_profile .edit_shelter_info form {
  display: grid;
  margin: 30px auto 50px;
  grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr;
  grid-template-columns: 50% 50%;
}
body .shelter_profile .edit_shelter_info form .group:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1;
}
body .shelter_profile .edit_shelter_info form .group:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}
body .shelter_profile .edit_shelter_info form #photos {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-self: center;
  margin-right: 1em;
}
body .shelter_profile .edit_shelter_info form #photos label:nth-of-type(1), body .shelter_profile .edit_shelter_info form #photos label:nth-of-type(2) {
  padding: 1em;
  margin-left: 10px;
  display: flex;
  height: 20px;
}
body .shelter_profile .edit_shelter_info form #photos label:nth-of-type(1) input, body .shelter_profile .edit_shelter_info form #photos label:nth-of-type(2) input {
  display: none;
}
body .shelter_profile .edit_shelter_info form #photos label:nth-of-type(1) span, body .shelter_profile .edit_shelter_info form #photos label:nth-of-type(2) span {
  margin-right: 0.2em;
}
body .shelter_profile .right {
  margin-top: 10px;
  margin-bottom: 27px;
  width: 35%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: fit-content(0%);
}
body .shelter_profile .right .shelter_adopted {
  border-radius: 15px;
  background-color: #F1A66A;
  margin: 3.5% 3% 4% 3%;
}
body .shelter_profile .right .shelter_adopted .adopted-card {
  display: flex;
  padding: 8px;
  background-color: #934B00;
  border-radius: 15px;
  width: 85%;
  margin: 15px auto;
}
body .shelter_profile .right .shelter_adopted .adopted-card .pet-img {
  float: left;
  margin-right: 10px;
  border-radius: 10px;
  width: 5em;
  height: 5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .shelter_profile .right .shelter_adopted .adopted-card .container-pet {
  width: 27vw;
  text-align: justify;
}
body .shelter_profile .right .shelter_adopted .adopted-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-animation: scale05 0.2s forwards;
}

@media (max-width: 55em) {
  body .shelter_profile .title {
    text-align: center;
  }
  body .shelter_profile .title span {
    display: none;
  }
  body .shelter_profile .left {
    width: 75%;
  }
  body .shelter_profile .left #about_me label i, body .shelter_profile .left #location label i, body .shelter_profile .left #contact label i {
    margin: 10px 0;
    font-size: 275%;
  }
  body .shelter_profile .left #about_me label span, body .shelter_profile .left #location label span, body .shelter_profile .left #contact label span {
    display: none;
  }
  body .shelter_profile .left .shelter_adoption p, body .shelter_profile .left .edit_shelter_info p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  body .shelter_profile .right {
    width: 25%;
  }
  body .shelter_profile .right .shelter_adopted {
    justify-content: center;
  }
  body .shelter_profile .right .shelter_adopted .adopted-card {
    display: flex;
    padding: 8px;
    width: fit-content;
  }
  body .shelter_profile .right .shelter_adopted .adopted-card a .pet-img {
    align-self: center;
    float: none;
    margin: 0;
  }
  body .shelter_profile .right .shelter_adopted .adopted-card a .container-pet {
    width: fit-content;
    max-width: 82px;
  }
  body .shelter_profile .right .shelter_adopted .adopted-card a .container-pet h4 {
    word-wrap: break-word;
  }
  body .shelter_profile .right .shelter_adopted .adopted-card a .container-pet p {
    display: none;
  }
}
@media (max-width: 35em) {
  body .banner {
    height: 80px;
  }
  body .shelter_profile {
    display: block;
  }
  body .shelter_profile .left {
    width: 100%;
  }
  body .shelter_profile .left #about_me label i, body .shelter_profile .left #location label i, body .shelter_profile .left #contact label i {
    margin: 7px 0;
    font-size: 375%;
  }
  body .shelter_profile .left .pets_container {
    padding: 5px;
    width: fit-content;
    display: flex !important;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  body .shelter_profile .left .pets_container .adoption-card {
    width: fit-content;
  }
  body .shelter_profile .left .pets_container .adoption-card a .pet-img {
    float: none;
    margin: 0;
  }
  body .shelter_profile .left .pets_container .adoption-card a .container-pet {
    width: 20vw;
  }
  body .shelter_profile .left .pets_container .adoption-card a .container-pet p {
    display: none;
  }
  body .shelter_profile .left .pets_container .title {
    width: 100%;
  }
  body .shelter_profile .left .edit_shelter_info .title form {
    display: block;
  }
  body .shelter_profile .right {
    width: 100%;
  }
  body .shelter_profile .right .shelter_adopted {
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  body .shelter_profile .right .shelter_adopted .title {
    width: 100%;
  }
}
#pet-profile .pet-bio {
  display: grid;
  grid-template-columns: 200px 3fr 200px;
  grid-gap: 10px;
}
#pet-profile .pet-bio .pet-image {
  grid-column: 1;
  border-radius: 10px 0 0 10px;
  justify-self: auto;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
#pet-profile .pet-bio #owner-info {
  grid-column: 3;
  position: relative;
}
#pet-profile .pet-bio #owner-info .img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
#pet-profile .pet-bio #owner-info p {
  padding: 5px;
  border-radius: 5px;
  background-color: #934B00;
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: white;
}
#pet-profile .pet-bio #owner-info:hover {
  -webkit-animation: scale05 0.2s forwards;
}
#pet-profile .pet-bio .pet-info {
  height: 100%;
  margin-left: -10px;
  display: grid;
  background-color: #934B00;
  color: white;
  border-radius: 0 10px 10px 0;
  grid-template-columns: auto 20% 20%;
  grid-template-areas: "description" "details" "name";
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
#pet-profile .pet-bio .pet-info #title {
  grid-area: name;
  padding: 1em;
}
#pet-profile .pet-bio .pet-info #title span, #pet-profile .pet-bio .pet-info #title h2 {
  display: inline-block;
  margin-right: 1em;
}
#pet-profile .pet-bio .pet-info #title h2 {
  font-size: 150%;
}
#pet-profile .pet-bio .pet-info #title span {
  background-color: red;
  border-radius: 20px;
  padding: 0 10px;
}
#pet-profile .pet-bio .pet-info #pet-details {
  grid-area: details;
  grid-column: 1/4;
  padding: 1em;
}
#pet-profile .pet-bio .pet-info #pet-details > * {
  margin-right: 40px;
}
#pet-profile .pet-bio .pet-info p {
  grid-column: 1/4;
  padding: 1em;
}
#pet-profile .pet-bio .pet-info #edit-pet-button {
  padding: 5%;
  grid-column: 3;
  grid-row: 3;
  background-color: #F1A66A;
  color: black;
  margin: 1em;
  font-weight: bold;
}
#pet-profile .pet-bio .pet-info #delete-pet-button {
  padding: 5%;
  grid-column: 2;
  grid-row: 3;
  background-color: #F1A66A;
  color: black;
  margin: 1em;
  font-weight: bold;
}
#pet-profile #options {
  margin-top: 1em;
  padding: 1em;
  background-color: #F1A66A;
  border-radius: 10px;
}
#pet-profile #options .buttons {
  text-align: center;
}
#pet-profile #options .buttons button {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  width: 30%;
}
#pet-profile #proposals {
  margin-top: 1em;
  padding: 1em;
  background-color: #F1A66A;
  border-radius: 10px;
}
#pet-profile #proposals h2 {
  margin-bottom: 1em;
}
#pet-profile #proposals .grid-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
#pet-profile #proposals .grid-list .adoption-proposal {
  padding: 1em;
  background-color: #934B00;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 4fr 1fr 0.5fr;
  grid-column-gap: 1em;
}
#pet-profile #proposals .grid-list .adoption-proposal .img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  grid-row: 1;
  grid-column: 1;
}
#pet-profile #proposals .grid-list .adoption-proposal h3 {
  text-align: center;
  margin: 0;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  background-color: #F1A66A;
  color: black;
  grid-row: 2;
  grid-column: 1;
}
#pet-profile #proposals .grid-list .adoption-proposal .user-details {
  color: white;
  margin-right: 15px;
  margin-bottom: 0;
  height: auto;
  grid-row: 1/3;
  grid-column: 2;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}
#pet-profile #proposals .grid-list .adoption-proposal .user-details .button {
  font-size: 1.2rem;
  align-self: flex-end;
  color: black;
  font-weight: bold;
  background-color: #F1A66A;
}
#pet-profile #proposals .grid-list .adoption-proposal .user-details small {
  text-align: right;
}
#pet-profile #proposals .grid-list .adoption-proposal #proposal_states {
  grid-row: 3;
  grid-column: 1/3;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
}
#pet-profile #proposals .grid-list .adoption-proposal #proposal_states #waiting_state {
  border-radius: 5px;
  background-color: yellow;
}
#pet-profile #proposals .grid-list .adoption-proposal #proposal_states #accepted_state {
  border-radius: 5px;
  background-color: green;
}
#pet-profile #proposals .grid-list .adoption-proposal #proposal_states #denied_state {
  border-radius: 5px;
  background-color: red;
}
#pet-profile #pet-comments, #pet-profile #make_proposal {
  margin-top: 1em;
  padding: 1em;
  background-color: #F1A66A;
  border-radius: 10px;
}
#pet-profile #pet-comments h2, #pet-profile #make_proposal h2 {
  margin-bottom: 1em;
}
#pet-profile #pet-comments .pet-comment, #pet-profile #pet-comments .pet-answer, #pet-profile #make_proposal .pet-comment, #pet-profile #make_proposal .pet-answer {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  background-color: #934B00;
  margin-bottom: 1em;
  border-radius: 10px;
  color: white;
  display: grid;
  grid-template-columns: 1.3fr 8fr 2fr;
  grid-template-rows: 1fr 1.5fr 0.2fr;
  grid-column-gap: 1em;
}
#pet-profile #pet-comments .pet-comment p, #pet-profile #pet-comments .pet-answer p, #pet-profile #make_proposal .pet-comment p, #pet-profile #make_proposal .pet-answer p {
  grid-column: 2/4;
  grid-row: 2;
  font-style: italic;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
#pet-profile #pet-comments .pet-comment .user a, #pet-profile #pet-comments .pet-answer .user a, #pet-profile #make_proposal .pet-comment .user a, #pet-profile #make_proposal .pet-answer .user a {
  border-bottom: 1px solid white;
  color: white;
  font-size: x-large;
}
#pet-profile #pet-comments .pet-comment .date, #pet-profile #pet-comments .pet-answer .date, #pet-profile #make_proposal .pet-comment .date, #pet-profile #make_proposal .pet-answer .date {
  justify-self: right;
  margin-right: 1em;
  align-self: center;
}
#pet-profile #pet-comments .pet-comment .user, #pet-profile #pet-comments .pet-answer .user, #pet-profile #make_proposal .pet-comment .user, #pet-profile #make_proposal .pet-answer .user {
  margin-top: 10px;
}
#pet-profile #pet-comments .pet-comment .user-image, #pet-profile #pet-comments .pet-answer .user-image, #pet-profile #make_proposal .pet-comment .user-image, #pet-profile #make_proposal .pet-answer .user-image {
  grid-column: 1;
  grid-row: 1/4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}
#pet-profile #pet-comments .pet-comment .user-image:hover, #pet-profile #pet-comments .pet-answer .user-image:hover, #pet-profile #make_proposal .pet-comment .user-image:hover, #pet-profile #make_proposal .pet-answer .user-image:hover {
  -webkit-animation: scale05 0.2s forwards;
}
#pet-profile #pet-comments .pet-comment .reply-button, #pet-profile #pet-comments .pet-answer .reply-button, #pet-profile #make_proposal .pet-comment .reply-button, #pet-profile #make_proposal .pet-answer .reply-button {
  grid-column: 3;
  padding: 1em;
  background-color: #F1A66A;
  color: black;
  font-weight: bold;
}
#pet-profile #pet-comments .pet-answer, #pet-profile #make_proposal .pet-answer {
  margin-left: 5em;
}
#pet-profile #pet-comments #overlay, #pet-profile #make_proposal #overlay {
  background-color: #F1A66A;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 20%;
  margin-top: -50px;
  margin-left: -100px;
  width: 75%;
  z-index: 1000;
  border-radius: 10px;
  float: top;
}
#pet-profile #pet-comments #overlay form, #pet-profile #make_proposal #overlay form {
  margin-top: 0;
}
#pet-profile form {
  margin-top: 1em;
  padding: 1em;
  background-color: #934B00;
  border-radius: 10px;
}
#pet-profile form label {
  color: white;
  margin-bottom: 1em;
  font-size: x-large;
  font-weight: bold;
}
#pet-profile form textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 97%;
  border-radius: 10px;
  min-height: 5em;
  resize: vertical;
  outline: none;
  font-size: large;
  color: black;
  overflow: auto;
  background-color: #F1A66A;
  padding: 1em;
}
#pet-profile .button {
  background-color: black;
}

body .banner a {
  font-size: 4vw;
  margin-right: 15px;
  margin-bottom: 5px;
}
body .user_profile {
  display: flex;
}
body .user_profile .title {
  padding: 10px 0px 0px 15px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
body .user_profile .title i {
  font-size: 110%;
  padding-right: 10px;
}
body .user_profile img {
  width: 10vw;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}
body .user_profile .left {
  margin-top: 10px;
  margin-bottom: 27px;
  width: 65%;
  display: grid;
  grid-template-columns: 30% 23% 23% 23%;
  grid-auto-rows: fit-content(0%);
  grid-template-areas: "profile about favorites contact" "pets pets pets pets";
}
body .user_profile .left .profile_pic {
  grid-area: profile;
  position: relative;
  width: 80%;
  height: 135%;
  left: 10%;
  bottom: 45%;
  z-index: 1;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
body .user_profile .left #about_me, body .user_profile .left #favorites, body .user_profile .left #contact {
  display: flex;
  border-radius: 10px;
  background-color: #934B00;
  margin: 8% 12%;
  justify-content: center;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}
body .user_profile .left #about_me label, body .user_profile .left #about_me a, body .user_profile .left #favorites label, body .user_profile .left #favorites a, body .user_profile .left #contact label, body .user_profile .left #contact a {
  width: 100%;
  color: white;
  padding: 10%;
  font-size: 1.5vw;
  text-align: center;
}
body .user_profile .left #about_me label i, body .user_profile .left #about_me a i, body .user_profile .left #favorites label i, body .user_profile .left #favorites a i, body .user_profile .left #contact label i, body .user_profile .left #contact a i {
  display: flex;
  font-size: 3.5vw;
  justify-content: center;
}
body .user_profile .left #about_me label input, body .user_profile .left #about_me a input, body .user_profile .left #favorites label input, body .user_profile .left #favorites a input, body .user_profile .left #contact label input, body .user_profile .left #contact a input {
  display: none;
}
body .user_profile .left #about_me label:hover, body .user_profile .left #about_me a:hover, body .user_profile .left #favorites label:hover, body .user_profile .left #favorites a:hover, body .user_profile .left #contact label:hover, body .user_profile .left #contact a:hover {
  cursor: pointer;
}
body .user_profile .left #about_me:hover, body .user_profile .left #favorites:hover, body .user_profile .left #contact:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-animation: scale05 0.2s forwards;
}
body .user_profile .left #about_me {
  grid-area: about;
}
body .user_profile .left #favorites {
  grid-area: favorites;
}
body .user_profile .left #contact {
  grid-area: contact;
}
body .user_profile .left .user_pets, body .user_profile .left .edit_user_info, body .user_profile .left .user_favorites {
  grid-area: pets;
  border-radius: 10px;
  background-color: #F1A66A;
  margin: 2% 3% 2% 3%;
}
body .user_profile .left .user_pets .pet, body .user_profile .left .edit_user_info .pet, body .user_profile .left .user_favorites .pet {
  display: flex;
  padding: 8px;
  background-color: #934B00;
  border-radius: 10px;
  width: fit-content;
  margin: 15px auto;
}
body .user_profile .left .user_pets .pet a, body .user_profile .left .edit_user_info .pet a, body .user_profile .left .user_favorites .pet a {
  width: fit-content;
}
body .user_profile .left .user_pets .pet a .pet-img, body .user_profile .left .edit_user_info .pet a .pet-img, body .user_profile .left .user_favorites .pet a .pet-img {
  float: left;
  margin-right: 10px;
  border-radius: 10px;
  width: 7em;
  height: 7em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .user_profile .left .user_pets .pet a .container-pet, body .user_profile .left .edit_user_info .pet a .container-pet, body .user_profile .left .user_favorites .pet a .container-pet {
  width: 54vw;
  text-align: justify;
}
body .user_profile .left .user_pets .pet:hover, body .user_profile .left .edit_user_info .pet:hover, body .user_profile .left .user_favorites .pet:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-animation: scale05 0.2s forwards;
}
body .user_profile .left .edit_user_info form {
  display: grid;
  margin: 30px auto 50px;
  grid-template-rows: 0.3fr 0.3fr 0.3fr 0.5fr 0.2fr;
  grid-template-columns: 50% 50%;
}
body .user_profile .left .edit_user_info form .group:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1;
}
body .user_profile .left .edit_user_info form .group:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}
body .user_profile .left .edit_user_info form #photos {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-self: center;
  margin-right: 1em;
}
body .user_profile .left .edit_user_info form #photos label:nth-of-type(1), body .user_profile .left .edit_user_info form #photos label:nth-of-type(2) {
  padding: 1em;
  margin-left: 10px;
  display: flex;
  height: 20px;
}
body .user_profile .left .edit_user_info form #photos label:nth-of-type(1) input, body .user_profile .left .edit_user_info form #photos label:nth-of-type(2) input {
  display: none;
}
body .user_profile .left .edit_user_info form #photos label:nth-of-type(1) span, body .user_profile .left .edit_user_info form #photos label:nth-of-type(2) span {
  margin-right: 0.2em;
}
body .user_profile .left .edit_user_info form .new-collaboration {
  text-align: left;
  grid-row: 4;
  grid-column: 1/3;
}
body .user_profile .left .edit_user_info form .new-collaboration .container {
  margin-left: 2em;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body .user_profile .left .edit_user_info form .new-collaboration .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
body .user_profile .left .edit_user_info form .new-collaboration .checkmark {
  position: absolute;
  top: 15px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
body .user_profile .left .edit_user_info form .new-collaboration .container:hover input ~ .checkmark {
  background-color: #ccc;
}
body .user_profile .left .edit_user_info form .new-collaboration .container input:checked ~ .checkmark {
  background-color: #934B00;
}
body .user_profile .left .edit_user_info form .new-collaboration .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
body .user_profile .left .edit_user_info form .new-collaboration .container input:checked ~ .checkmark:after {
  display: block;
}
body .user_profile .left .edit_user_info form .new-collaboration .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
body .user_profile .left input[type=submit] {
  grid-column: 2;
  justify-self: center;
  align-self: center;
}
body .user_profile .right {
  margin: 10px 10px 27px 0;
  width: 35%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: fit-content(0%);
}
body .user_profile .right .collaborations {
  border-radius: 10px;
  background-color: #F1A66A;
  margin: 3.5% 3%;
}
body .user_profile .right .collaborations #collaboration-imgs {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
}
body .user_profile .right .collaborations #collaboration-imgs a {
  padding: 1%;
  flex-basis: 14.5%;
}
body .user_profile .right .collaborations #collaboration-imgs a .collaboration-img {
  height: 3.5em;
  width: 3.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  border-radius: 10px;
}
body .user_profile .right .collaborations #collaboration-imgs a .collaboration-img:hover {
  -webkit-animation: scale05 0.2s forwards;
}
body .user_profile .right .user_activity {
  border-radius: 10px;
  background-color: #F1A66A;
  margin: 2% 3% 4% 3%;
}
body .user_profile .right .user_activity .activity-card {
  display: flex;
  padding: 8px;
  background-color: #934B00;
  border-radius: 10px;
  width: 85%;
  margin: 15px auto;
}
body .user_profile .right .user_activity .activity-card .activity-img {
  float: left;
  margin-right: 10px;
  border-radius: 10px;
  width: 5em;
  height: 5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body .user_profile .right .user_activity .activity-card .container-activity {
  width: 28vw;
  text-align: justify;
}
body .user_profile .right .user_activity .activity-card .container-activity p {
  padding: 8px;
}
body .user_profile .right .user_activity .activity-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-animation: scale05 0.2s forwards;
}

@media (max-width: 55em) {
  body .user_profile .title {
    text-align: center;
  }
  body .user_profile .title span {
    display: none;
  }
  body .user_profile .left {
    width: 75%;
  }
  body .user_profile .left #about_me label i, body .user_profile .left #favorites label i, body .user_profile .left #contact label i {
    margin: 10px 0;
    font-size: 275%;
  }
  body .user_profile .left #about_me label span, body .user_profile .left #favorites label span, body .user_profile .left #contact label span {
    display: none;
  }
  body .user_profile .left .user_pets p, body .user_profile .left .edit_user_info p, body .user_profile .left .user_favorites p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  body .user_profile .right {
    width: 25%;
  }
  body .user_profile .right .collaborations #collaboration-imgs {
    padding: 5px;
    justify-content: center;
  }
  body .user_profile .right .collaborations #collaboration-imgs .collaboration-img {
    margin-bottom: 5px;
  }
  body .user_profile .right .user_activity {
    margin-top: 30px;
    justify-content: center;
  }
  body .user_profile .right .user_activity .activity-card {
    display: flex;
    padding: 8px;
    width: fit-content;
  }
  body .user_profile .right .user_activity .activity-card .activity-img {
    float: none;
    margin: 0;
  }
  body .user_profile .right .user_activity .activity-card .container-activity {
    width: fit-content;
  }
  body .user_profile .right .user_activity .activity-card .container-activity p {
    display: none;
  }
}
@media (max-width: 35em) {
  body .banner {
    height: 80px;
  }
  body .user_profile {
    display: block;
  }
  body .user_profile .left {
    width: 100%;
  }
  body .user_profile .left #about_me label i, body .user_profile .left #favorites label i, body .user_profile .left #contact label i {
    margin: 7px 0;
    font-size: 375%;
  }
  body .user_profile .left .pets_container {
    padding: 5px;
    display: flex !important;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  body .user_profile .left .pets_container .pet a .pet-img {
    float: none;
    margin: 0;
  }
  body .user_profile .left .pets_container .pet a .container-pet {
    width: 18vw;
  }
  body .user_profile .left .pets_container .pet a .container-pet p {
    display: none;
  }
  body .user_profile .left .pets_container .title {
    width: 100%;
  }
  body .user_profile .left .edit_user_info .title form {
    display: block;
  }
  body .user_profile .right {
    width: 100%;
  }
  body .user_profile .right .user_activity {
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  body .user_profile .right .user_activity .title {
    width: 100%;
  }
}
.shelters-list {
  width: 70%;
}

.shelter-link a {
  grid-row: 2;
}

body #pet_add, body #pet_edit {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.3s;
  color: #934B00;
  width: 85%;
  max-width: 1080px;
  margin: 2em auto;
  contain: content;
  display: flex;
}
body #pet_add #left, body #pet_edit #left {
  width: 32%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
body #pet_add #left h2, body #pet_edit #left h2 {
  position: relative;
  top: 50px;
  text-align: center;
  width: 100%;
  color: #934B00;
}
body #pet_add #right, body #pet_edit #right {
  width: 68%;
}
body #pet_add #right form, body #pet_edit #right form {
  padding-top: 20px;
  padding-left: 20px;
  display: grid;
  contain: content;
  grid-template-columns: 45% 25% 25%;
  grid-template-rows: 20% 20% 20% 40%;
  background-color: #F1A66A;
  transition: 0.3s;
  color: #934B00;
}
body #pet_add #right form label:nth-of-type(1), body #pet_edit #right form label:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
}
body #pet_add #right form label:nth-of-type(8), body #pet_edit #right form label:nth-of-type(8) {
  grid-column: 2/3;
  grid-row: 1;
  margin: 1.5em 1em 1em 4em;
  height: 40px;
  width: 85%;
  display: flex;
  padding: 8px 15px;
  align-items: center;
  contain: content;
}
body #pet_add #right form label:nth-of-type(8) span, body #pet_edit #right form label:nth-of-type(8) span {
  display: flex;
  font-size: 2em;
  margin-right: 5px;
}
body #pet_add #right form label:nth-of-type(2), body #pet_edit #right form label:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
}
body #pet_add #right form label:nth-of-type(3), body #pet_edit #right form label:nth-of-type(3) {
  grid-column: 2;
  grid-row: 2;
}
body #pet_add #right form label:nth-of-type(4), body #pet_edit #right form label:nth-of-type(4) {
  grid-column: 3;
  grid-row: 2;
}
body #pet_add #right form label:nth-of-type(5), body #pet_edit #right form label:nth-of-type(5) {
  grid-column: 2;
  grid-row: 3;
}
body #pet_add #right form label:nth-of-type(6), body #pet_edit #right form label:nth-of-type(6) {
  grid-column: 1;
  grid-row: 3;
}
body #pet_add #right form label:nth-of-type(7), body #pet_edit #right form label:nth-of-type(7) {
  grid-column: 1;
  grid-row: 4;
}
body #pet_add #right form label, body #pet_edit #right form label {
  margin: 1em 2em;
  display: block;
}
body #pet_add #right form label .autocomplete, body #pet_edit #right form label .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}
body #pet_add #right form label .autocomplete .autocomplete-items, body #pet_edit #right form label .autocomplete .autocomplete-items {
  position: absolute;
  border: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
body #pet_add #right form label .autocomplete .autocomplete-items li, body #pet_edit #right form label .autocomplete .autocomplete-items li {
  padding: 5px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background-color: #934B00;
}
body #pet_add #right form label .autocomplete .autocomplete-items li:hover, body #pet_edit #right form label .autocomplete .autocomplete-items li:hover {
  /*when hovering an item:*/
  background-color: #F1A66A;
}
body #pet_add #right form label input[type=text], body #pet_add #right form label input[type=password], body #pet_add #right form label input[type=email], body #pet_add #right form label input[type=number], body #pet_add #right form label #petInfo, body #pet_edit #right form label input[type=text], body #pet_edit #right form label input[type=password], body #pet_edit #right form label input[type=email], body #pet_edit #right form label input[type=number], body #pet_edit #right form label #petInfo {
  height: 34px;
  border-radius: 10px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  display: block;
  padding: 0 10px;
  background-color: white;
  color: black;
  -moz-appearance: none;
  appearance: none;
  margin-top: 1em;
  width: 100%;
  font-size: 0.9em;
  outline: none;
}
body #pet_add #right form label ul, body #pet_edit #right form label ul {
  max-height: 100px;
  overflow: auto;
}
body #pet_add #right form #petInfo, body #pet_edit #right form #petInfo {
  grid-column: 1;
  grid-row: 4;
  height: 120px !important;
  max-width: 350px;
}
body #pet_add #right form label:nth-of-type(9), body #pet_edit #right form label:nth-of-type(9) {
  margin: 3em 1em 1em 1.5em;
  width: fit-content;
  height: 80px;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  grid-column: 3;
  grid-row: 4;
}
body #pet_add #right form label:nth-of-type(9) input, body #pet_edit #right form label:nth-of-type(9) input {
  display: none;
}
body #pet_add #right form select, body #pet_edit #right form select {
  height: 50px;
  grid-column: 2;
  grid-row: 4;
  width: 69%;
  margin: 4em auto;
  border: 3px solid #934B00;
  padding: 1em;
  background-color: #934B00;
  border-radius: 7px;
  color: white;
}
body #pet_add #right form #gender-option, body #pet_edit #right form #gender-option {
  margin-left: 1em;
  grid-column: 3;
  grid-row: 3;
}
body #pet_add #right form #gender-option label, body #pet_edit #right form #gender-option label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-left: 1em;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body #pet_add #right form #gender-option label input, body #pet_edit #right form #gender-option label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
body #pet_add #right form #gender-option label .checkmark, body #pet_edit #right form #gender-option label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
body #pet_add #right form #gender-option label:hover input ~ .checkmark, body #pet_edit #right form #gender-option label:hover input ~ .checkmark {
  background-color: #ccc;
}
body #pet_add #right form #gender-option label input:checked ~ .checkmark, body #pet_edit #right form #gender-option label input:checked ~ .checkmark {
  background-color: #934B00;
}
body #pet_add #right form #gender-option label .checkmark:after, body #pet_edit #right form #gender-option label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
body #pet_add #right form #gender-option label input:checked ~ .checkmark:after, body #pet_edit #right form #gender-option label input:checked ~ .checkmark:after {
  display: block;
}
body #pet_add #right form #gender-option label .checkmark:after, body #pet_edit #right form #gender-option label .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

@media (max-width: 60em) {
  body #pet_add {
    display: block;
    width: 85%;
  }
  body #pet_add #left {
    background-image: none !important;
    width: 100%;
  }
  body #pet_add #left h2 {
    top: 0;
    color: white;
    padding: 10px;
    width: 100%;
    background-color: #934B00;
  }
  body #pet_add #right {
    width: 100%;
  }
}
@media (max-width: 35em) {
  body #pet_add {
    display: block;
    width: 85%;
  }
  body #pet_add #left {
    background-image: none !important;
  }
  body #pet_add #left h2 {
    top: 0;
    color: white;
    padding: 10px 0;
    width: 100%;
    background-color: #934B00;
  }
  body #pet_add #right {
    width: 100%;
  }
  body #pet_add #right form {
    display: block;
    padding: 10px;
  }
  body #pet_add #right form label {
    margin: 25px 45px 25px 18px !important;
  }
  body #pet_add #right form label:nth-of-type(8) {
    width: 120px;
  }
  body #pet_add #right form select {
    width: 100px;
    margin: 0px 18px;
  }
}

/*# sourceMappingURL=style.css.map */
